/***:: Styles for 404 Page not found::***/

/**************:: TAG SELECTORS::********/

body{
	margin: 0;
	background-color: pink;
}

h3{
	font-family: "inconsolata",Times,sans-serif;
	font-size: 24px;
	color: #333333;
}

h1{
	font-family:Space Mono,Times,sans-serif;
	float: right;
	margin: 0;
	width: 30%;
}
p{
	width: 25%;
	float: right;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.035em;
}

img{
	width: 539.22px;
	height: 414.25px;
	float: left;
}

/***CLASS SELECTOR***/
 .button{
 	width: 216px;
 	height: 68px;
 	background-color:#333333 ;
 	float: left;

 }
 .button a{
 	color: #fff;
 }